*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    padding: 8px;
}
.container{
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: solid 1px lightgray;
    border-radius: 4px;
}
input[type="text"],input[type="email"]
input[type="number"],input[type="password"],
input[type="date"],textarea
{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
}
fieldset{
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 10px;
}
.main_heading{
    text-align: center;
}
input[type="submit"]{
    background-color: #4daea1;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
}
input[type="submit"]:hover{
    background-color: rgb(96, 96, 252);
}

@media screen and (max-width:600px) { 
    body{
        color: red;
        font-size: 1rem;
    }
    
}

